@import "libs/responsive.scss";

// Variable Color
$pinkLight: #FF79DA;
$pinkDark: #9356DC;
$green: #99E2D0;
$greyLight1: #eaeaea;
$greyLight2: #f6f6f6;
$grey: #7e7e7e;
$greyDark: #353535;

%shadow {
	box-shadow: 2px 5px 9px 4px rgba(0, 0, 0, 0.070);
}
%gradient {
	background: $pinkLight;
	background: linear-gradient(180deg, $pinkLight 0%,$pinkDark 100%);
}
%btn {
	@extend %shadow;
	@extend %gradient;
	padding: 1rem;
	font-size: 1rem;
	color: white;
	border-radius: 1.55rem;
	text-decoration: none;
	box-sizing: border-box;
	display: inline-block;
	min-width: 200px;
	&:hover {
		background: linear-gradient(180deg, lighten($pinkLight, 8) 0%, lighten($pinkDark, 8) 100%)
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: $greyLight2;
	section{
		padding: 3.5rem 1.3rem;
	}
	h1 {
		font-family: 'Shrikhand', cursive;
	}
	p, h2, h3, h1{
		margin: 0;
	}
	h2 {
		margin: 0 0 1.5rem 0;
		font-size: 1.5rem;
	}
	a{
		text-decoration: none;
		color: black;
	}	
	.container {
		width: 100%;
		max-width: 1600px;
		margin: auto;
	}
}

header {
    h1 {
    	margin: 1.2rem auto .5rem auto;
		text-align: center;
		line-height: 1.5rem;
    	img {
    		max-width: 170px;
    		width: 100%;
    	}
    }
	p {
		padding: 1rem;
		margin: 0;
		background-color: $greyLight1;
		color: $greyDark;
		text-align: center;
		font-weight: bold;
		font-size: 1rem;
	}
}
#Presentation {
	background-color: $greyLight2;
	text-align: center;
	p {
		margin: 0 0 2rem 0;
		font-size: 1.1rem;
		font-weight: 300;
	}
	a {
		@extend %btn
    }
}
#Fonctionnement {
	background-color: white;
	
	.explains {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		.explain{
			@extend %shadow;
			display: flex;
			align-self: center;
			margin-bottom: 1.3rem;
			margin-left: 1rem;
			background-color: $greyLight2;
			border-radius: 20px;
			padding: 1.4rem;
			font-size: 1.1rem;
			font-weight: 500;
			width: 100%;


			@media #{$medium-up} {
				width: 450px;
			}

			@media #{$large-up} {
				width: calc(33% - 5rem);
				margin: 0 1rem 1.3rem 1rem ;
			}
			
			.number{
				background-color: $pinkDark;
				border-radius: 50%;
				font-size: 1rem;
				width: 1.6rem;
				height: 1.6rem;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				margin-left: -2.1rem;
				margin-right: 1.3rem;
			}
			i{
				color: $grey;
				margin-right: 1.3rem;
				display: flex;
				align-self: center;
			}
		}
	}
	
}
#Restaurants{
	background-color: $greyLight2;
	.restaurants{
		display: flex;
		flex-wrap: wrap;

		.restaurant{
			@extend %shadow;
			width: 100%;
			position: relative;
			display: block;
			border-radius: 20px;
			overflow: hidden;
			margin-bottom: 1.3rem;
			img{
				width: 100%;
				object-fit: cover;
				max-height: 170px;
				z-index: 0;
			}
			.new{
				position: absolute;
				margin: 0;
				padding: .4rem .6rem;
				background-color: $green;
				top: 1rem;
				right: 1rem;
				z-index: 2;
				border-radius: 2px;
				font-size: .9rem;
				font-weight: 500;
				color: darken($color: $green, $amount: 40);
			}
			.content{
				padding: 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				p {
					font-weight: 300;
				}
				i {
					font-size: 1.5rem;
				}
			}

			@media #{$medium-up} {
				width: calc(50% - 2rem);
				margin: 1rem;
			}

			@media #{$large-up} {
				width: calc(25% - 2rem);
				margin: 1rem;
			}
		}
	}
}
footer{
	background-color: #353535;
	.container {
		display: flex;
		flex-direction: column;
	    box-sizing: border-box;
	padding: 2rem 1.3rem;
	h2 {
		font-family: 'Shrikhand', cursive;
		font-size: 1.1rem;
		font-weight: 400;
		margin-bottom: .8rem;
	}
	a{
		color: white;
		margin-bottom: .5rem;
		img{
			color: white;
		}
		i {
			margin-right: .4rem;
			font-size: .9rem;
		}
	}
	}
}
.restaurantPage {
	header {
		position: relative;
		nav {
			margin: 1.2rem 1.3rem .5rem 1.3rem;
			text-align: center;
			position: relative;
			a{
				position: absolute;
				left: 0;
			}
			img {
				max-width: 170px;
				width: 100%;
				line-height: 1.5rem;
			}
		}
		> img{
			object-fit: cover;
			width: 100%;
			height: 300px;
		}
		.title {
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 2.5rem 2rem 0 1.3rem;
			background-color: $greyLight2;
			border-radius: 50px 50px 0 0;
			box-sizing: border-box;
			
			h1 {
				margin: 0;
				font-weight: 400;
				font-size: 1.8rem;
			}
			i {
				font-size: 1.8rem;
			}
		}
	}
	main {
		@media #{$large-up} {
			display: flex;
		}
		
		section {
			padding: 2rem 1rem 1rem 1rem;
			opacity: 0; // Opacité à 0 par défaut pour le fade 
			animation: slideUp 1s forwards; // Création de l'animation: avec le nom, la durée de l'animation et le mot clef pour dire qu'on reste à l'état final (càd opacité 100% et sa position d'origine.)
			
			@media #{$large-up} {
				width: calc(33.33% - 2rem);

				flex-shrink: 0;
				flex-grow: 0;
			}
			
			h2{
				font-size: 1.2rem;
				font-weight: 300;
				text-transform: uppercase;
				position: relative;
				&::after {
					content: "";
					width: 40px;
					height: 3px;
					background-color:$green;
					position: absolute;
					top: 25px;
					left: 0;
				}
			}
			.item {
				@extend %shadow;
				background-color: white;
				border-radius: 20px;
				/* padding: .8rem; */
				padding-right: 0;
				display: flex;
				justify-content: space-between;
				margin-bottom: 1rem;
				overflow: hidden;
				> div:first-child {
					padding: .8rem;
					display: flex;
					justify-content: stretch;
					align-items: flex-end;
					min-width: 0;	
					flex-grow: 2;
					> div {
						min-width: 0;
						flex-grow: 2;					
						* {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
				}
				h3{
					margin-bottom: .5rem;
				}
				.price {
					font-weight: 500;
					margin: 0 .7rem;
				}
				.selected {
					background-color: $green;
					width: 0px;
					transition: all .7s;
					flex-grow: 0;
					position: relative;
					overflow: hidden;
					i {
						color: $green;
						background-color: white;
						padding: .3rem;
						border-radius: 50%;
						position: absolute;
						top: 50%;
						left: 50%;
						transition: all .7s;
						transform: translate( 10px, -50%) rotate(-300deg);
					}
				}
				&:hover {
					cursor: pointer;
					.selected {
						width: 80px;
						i {
							transform: translate(-50%, -50%) rotate(0deg);
						}
					}
				
				}
			}
	
			// De 1 à 4 (à adapter s'il y a plus de section), parcourt les différentes sections et met un délai plus important pour les sections plus basses.
			//  Le délai est pareil ou moins élevé l'animation pour que les animations se déclenchent les unes après les autres et de façon fluide.
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					animation-delay: #{$i - 1.5}s;
				}
			}
		}
	}
	#commander {
		text-align: center;
		padding: 1.5rem 0 5rem 0;
		a {
			@extend %btn;
		}
	}
}
.heart {
	display: block;
	position: relative;
	width: 1.3rem;
    height: 1.3rem;
	.fas {
		position: absolute;
		@extend %gradient;
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		display: block;
		opacity: 0;
		transition: all .3s;
		top: 0;
		right: 0;
	}
	.far {
		position: absolute;
		display: block;
		opacity: 1;
		transition: all .3s;
		top: 0;
		right: 0;
	}
	&:hover {
		.fas {
			opacity: 1;
		}
		.far {
			opacity: 0;
		}
	}
}

// Création d'animation où ça va de 20px vers le bas de sa position d'origine à sa position d'origine et remet l'opacité à 100%
@keyframes slideUp {
	from {
        transform: translateY(20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}


.spin-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $greyLight2;
	z-index: 99;
	animation: .7s ease 2s 1 forwards spin-loader;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $pinkDark;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $pinkDark transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  @keyframes spin-loader {
	0% {
	  opacity: 1;
	}
	99% {
		opacity: 0;
		width: 100vw;
	  	height: 100vh;
	}
	100% {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
  }
  